---
import BaseLayout from "@layouts/BaseLayout.astro";
import Hobbie from "@components/Hobbie.astro";

import account from "@content/account.yml";
import { API_URL } from "astro:env/client";
import type { IHobbie } from "@types/interfaces";
---

<BaseLayout title="Ejemplo de codigo">
  <main class="container-fluid">
    <h1 class="title">Welcome to Astro!</h1>
    <p class="subtitle">Happy coding!</p>

    <h2 class="title">{account.fullname}</h2>

    {
      account.hobbies.map((hobby: IHobbie) => (
        <Hobbie id={hobby.id} name={hobby.name} level={hobby.level} />
      ))
    }

    <p>{API_URL}</p>
  </main>
</BaseLayout>

<style>
  h1,
  p,
  h2 {
    text-align: center;
  }
</style>

<script src="../scripts/base.js"></script>
